<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Checking password</title>
  <script>
      window.onload = function () {
          const error = "[[${error}]]"
          if (error && error != "") alert(error)
      }
  </script>
</head>
<body>
  <div th:if="${type eq 'article' && method eq 'update'}">
    <form th:action="@{/article/{articleId}/passwordCheck/update(articleId=${article.id})}"
          method="post">
      <label>
        비밀번호 입력: <input type="text" id="input-password" name="input-password">
      </label>
      <input type="submit" value="확인">
    </form>
  </div>
  <div th:if="${type eq 'article' && method eq 'delete'}">
    <form th:action="@{/article/{articleId}/passwordCheck/delete(articleId=${article.id})}"
          method="post">
      <label for="input-password2">
        비밀번호 입력: <input type="text" id="input-password2" name="input-password">
      </label>
      <input type="submit" value="확인">
    </form>
  </div>
  <div th:if="${type eq 'comment' && method eq 'delete'}">
    <form th:action="@{/article/{articleId}/passwordCheck/delete(articleId=${article.id})}"
          method="post">
      <label for="input-password3">
        비밀번호 입력: <input type="text" id="input-password3" name="input-password">
      </label>
      <input type="submit" value="확인">
    </form>
  </div>
</body>
</html>