<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Board</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h1 class="page-title">[[${board.topic}]] 게시판</h1>

<div class="page-box">
    <!--게시글 작성 버튼-->
    <button class="button-right" th:onclick="|location.href='@{/boards/write-view}'|">게시글 작성</button>
    <br>
    <!--게시글 제목 출력 (th:with - 변수선언)-->
    <div th:each="i: ${#numbers.sequence(articles.size()-1, 0, -1)}" th:with="article=${articles[i]}">
        <p><a th:href="@{/boards/article/{id}(id=${article.id})}">[[${article.title}]]</a></p>
    </div>
</div>
</body>
</html>